@mixin btn {
  width: 100%;
  border: none;
  outline: none;
  color: $white;
  cursor: pointer;
  border-radius: 8px;
}

@mixin page-title {
  font-weight: 500;
  font-size: 2.4rem;
  color: $bayofManyColor;
}
