// COLOR PALETTE
$white: #ffffff;
$blackColor: #000000;
$redRibbonColor: #e4033b;
$bayofManyColor: #213f7d;
$turquoiseColor: #39cdcc;
$blueBayouxColor: #545f7d;
$borderColor: rgba(84, 95, 125, 0.2);

// BREAKPOINTS
/*
 phone 600px
 tablet portraint  768px
 tablet landscape 1200px
 desktop 1366px
 */

$phone: "37.5em";
$tablet-port: "48em";
$tablet-land: "75em";
$desktop: "85.4em";
